src/test/resources/test.dtd

<!ELEMENT dataset (
        Role*,
        User*,
        UserRole*,
        Word*,
        Tag*,
        Lesson*,
        Translation*,
        TranslationTag*
        )>

        <!ELEMENT ClientDetails EMPTY>
        <!ATTLIST ClientDetails
                appId CDATA #REQUIRED
                resourceIds CDATA #IMPLIED
                appSecret CDATA #IMPLIED
                scope CDATA #IMPLIED
                grantTypes CDATA #IMPLIED
                redirectUrl CDATA #IMPLIED
                authorities CDATA #IMPLIED
                access_token_validity CDATA #IMPLIED
                refresh_token_validity CDATA #IMPLIED
                additionalInformation CDATA #IMPLIED
                autoApproveScopes CDATA #IMPLIED
                >

        <!ELEMENT Lesson EMPTY>
        <!ATTLIST Lesson
                id CDATA #REQUIRED
                completedPartsOfLesson CDATA #REQUIRED
                maxPartsOfLesson CDATA #REQUIRED
                waitUnitNextLessonPart CDATA #IMPLIED
                >

        <!ELEMENT Role EMPTY>
        <!ATTLIST Role
                id CDATA #REQUIRED
                name CDATA #REQUIRED
                >

        <!ELEMENT Tag EMPTY>
        <!ATTLIST Tag
                id CDATA #REQUIRED
                name CDATA #IMPLIED
                position CDATA #IMPLIED
                user_id CDATA #IMPLIED
                >

        <!ELEMENT Translation EMPTY>
        <!ATTLIST Translation
                id CDATA #REQUIRED
                lastModificationDate CDATA #REQUIRED
                learned CDATA #REQUIRED
                learnedDate CDATA #IMPLIED
                note CDATA #IMPLIED
                partOfSpeech CDATA #REQUIRED
                views CDATA #REQUIRED
                lesson_id CDATA #IMPLIED
                resultWord_id CDATA #IMPLIED
                sourceWord_id CDATA #IMPLIED
                user_id CDATA #IMPLIED
                >

        <!ELEMENT TranslationTag EMPTY>
        <!ATTLIST TranslationTag
                tagId CDATA #REQUIRED
                translationId CDATA #REQUIRED
                >

        <!ELEMENT User EMPTY>
        <!ATTLIST User
                id CDATA #REQUIRED
                activationKey CDATA #IMPLIED
                autoPlayDuringLesson CDATA #REQUIRED
                email CDATA #REQUIRED
                enabled CDATA #REQUIRED
                lessonPartsCount CDATA #REQUIRED
                minutesBetweenLessonParts CDATA #REQUIRED
                name CDATA #IMPLIED
                nonLocked CDATA #REQUIRED
                password CDATA #IMPLIED
                registrationDate CDATA #IMPLIED
                resetKey CDATA #IMPLIED
                translationsInOneLesson CDATA #REQUIRED
                >

        <!ELEMENT UserRole EMPTY>
        <!ATTLIST UserRole
                userId CDATA #REQUIRED
                roleId CDATA #REQUIRED
                >

        <!ELEMENT Word EMPTY>
        <!ATTLIST Word
                id CDATA #REQUIRED
                langCode CDATA #IMPLIED
                text CDATA #IMPLIED
                >
